<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
              integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/style.css" %}">
    <script src="{% static "static/js/app.js" %}?{{ time }}"></script>
    <title>Diplom</title>
</head>
<body style="background-color: #f6f6f6">
    <div id="main" style="background-color: white; margin-left: 2vw; margin-right: 2vw;">
        <div class="col s12" style="margin-top: 2vw; padding-bottom: 2vw">
            {{ kek }}
            <br>
            {% if request.path == '/' %}
                {% include 'pages/form.html' %}
            {% elif request.path == '/imageInfo' %}
                {% include 'pages/ImageView.html' %}
            {% elif request.path == '/folderInfo' %}
                {% include 'pages/ImageView.html' %}
            {% elif request.path == '/error' %}
                {% include 'pages/404.html' %}
            {% endif %}
        </div>
    </div>
</body>
</html>